body {
    font-family:Verdana,Arial,Helvetica,sans-serif;
    color:black;
    background:url(images/Background.png);
    font-size:1.0em;
    line-height:1.2em;
    margin-left:0em;
    margin-right:0em;
    margin-top:0em;
    margin-bottom:0em;
}

li {
    line-height:1.4em;
}

.title {
    font-size:1.25em;
    font-weight:bold;
    padding-bottom:0.5em;
}

.header {
    margin:2em;
    margin-bottom:0em;
    padding-left:1em;
    padding-bottom:1.5em;
    background:#C8A8A8;
    border:solid 0.25em #E8C8C8;
    border-right-color:#A88888;
    border-bottom-color:#A88888;
}

.header>.title {
    font-size:2.0em;
    font-weight:bold;
    line-height:2.25em;
    padding-bottom:0em;
}

.header>.subtitle {
    font-size:1.25em;
    font-weight:bold;
    line-height:1.5em;
}

.info {
    float:left;
}

.content {
    float:left;
}

.section {
    overflow:auto;
    margin:2em;
    clear:left;
}

.info>.section>.title {
    font-size:1.25em;
    font-weight:bold;
    background:#A8A8C8;
    border:solid 0.25em #C8C8E8;
    border-right-color:#8888A8;
    border-bottom-color:#8888A8;
    width:8em;
}

.link {
    padding:0.25em;
    background:#A8A8C8;
    border:solid 0.25em #C8C8E8;
    border-right-color:#8888A8;
    border-bottom-color:#8888A8;
    text-align:center;
}

.section>.title {
    font-size:1.25em;
    font-weight:bold;
    line-height:1.5em;
    background:#A8C8A8;
    border:solid 0.25em #C8E8C8;
    border-right-color:#88A888;
    border-bottom-color:#88A888;
    width:15em;
}

.section>.title>.subtitle {
    font-size:0.8em;
}

.project {
    float:left;
    background:#A8C8A8;
    border:solid 0.25em #C8E8C8;
    border-right-color:#88A888;
    border-bottom-color:#88A888;
    text-align:center;
    width:10em;
    padding:0.5em;
}

.project>.thumb {
    padding:0.25em;
}

.project>.name {
    padding:0.5em;
}

.thumbnail {
    width:5em;
    border:solid 0.1em black;
}

a:visited {
    color:#301000;
    text-decoration:none;
    background-color:none;
}

a:link {
    color:#301000;
    text-decoration:none;
    background-color:none;
}

a:active {
    color:#301000;
    text-decoration:underline;
    background-color:none;
}

a:hover {
    color:#301000;
    text-decoration:underline;
    background-color:none;
}
