
table {
}

td {
    margin:0em;
    padding:0em;
    spacing:0em;
    padding-left:1em;
    padding-right:1em;
    border:solid 0.1em;
} 

.HiscoreTable {
}

.Score {
    text-align:right;
} 

.Level {
    text-align:right;
} 

.Name {
    text-align:left;
} 
